[submodule "source/stixxCore/external/glfw"]
	path = source/stixxCore/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "source/stixxCore/external/assimp"]
	path = source/stixxCore/external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "source/stixxCore/external/glm"]
	path = source/stixxCore/external/glm
	url = https://github.com/g-truc/glm.git
